<html>
    <head>
        <link rel="stylesheet" type="text/css" href="~/Content/bootstrap/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/fontawsome/css/fontawesome-all.min.css">
        <link rel="stylesheet" type="text/css" href="~/Content/style.css">
    <title>Performance Test</title>
    </head>
    <body>
        @RenderBody()    

        @RenderSection("scripts", false)
    </body>
</html>
